$colorBackground: rgb(0, 0, 0);
$colorLinks: rgb(255, 252, 203);
$colorLinksShadow: rgba(255, 72, 72, 0.5);
$colorLetras: rgb(255, 255, 239);
$colorTextShadow: rgba(255, 50, 50, 0.5);
$colorBackgroundFocus: rgb(255, 250, 219);
$colorBorderFocus: rgb(0, 0, 0);
$colorBoxShadow : rgba(0, 0, 0 , 10%);
$colorParrafo: rgb(255, 255, 234);
$colorBackgroundNavbar: rgb(3, 3, 3);
$colorLinksHover: rgb(141, 0, 0);