@import'./colores';

@mixin fontStyle{
    font-family: 'Pangolin', cursive;
    color: $colorLetras;
    text-align: center;

}
#titulo {
    display: flex;
    justify-content: center;
    font-size: 7vw;
    color: $colorLetras;
    font-family: 'Pangolin', cursive;
    text-align: center;
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(112, 112, 112));
    border-bottom: 10px rgb(22, 22, 22) dashed;
    border-top: 10px rgb(22, 22, 22) dashed;
    transition: 1s;
    margin-top: 10px;
    flex-wrap: wrap;

    &:hover {
        text-shadow: 5px 5px 10px $colorTextShadow;
    }


}

h2,
h3,
h4,
h5 {
    @include fontStyle();

    &:hover {
        text-shadow: 1px 1px 5px $colorTextShadow ;
    }
}
h3{
    font-size: 1rem
}

@mixin fontStyle{
    font-family: 'Pangolin', cursive;
    color: $colorLetras;
    text-align: center;

}
