@import'./colores';
/*videos index*/

@mixin videosIndex {
    display: flex;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    
}
@mixin videosIndex--iframe{
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}

.video1 {
    @include videosIndex();

    iframe {
        @include videosIndex--iframe

    }
}


.video2 {
    @include videosIndex();

    iframe {
        @include videosIndex--iframe();

    }
}

.video3 {
    @include videosIndex();

    iframe {
        @include videosIndex--iframe();

    }
}

.video4 {
    @include videosIndex();

    iframe {
        @include videosIndex--iframe();

    }
}


.video5 {
    @include videosIndex();

    iframe {
        @include videosIndex--iframe();

    }
}

.video6 {
    @include videosIndex();

    iframe {
        @include videosIndex--iframe();

    }
}

.video7 {
    @include videosIndex();

    iframe {
        @include videosIndex--iframe();

    }
}

.video8 {
    @include videosIndex();

    iframe {
        @include videosIndex--iframe();

    }
}